@model IEnumerable<ListListViewModel>

@foreach (var list in Model)
{
    <ul class="list" data-list-id="@list.Id">
        <li class=" list-title">@list.Title</li>
        <li class="">
            <ul class="list-cards">
                @foreach (var card in list.Cards)
                {
                    <li class="card" data-card-id="@card.Id">
                        <div class="card-title">@card.Title</div>
                        <div class="card-description">@card.Description</div>
                    </li>
                }
             
            </ul>
        </li>
    </ul>
  
}

<div style=" margin-left:100px;margin-top:15px;">
    <button id="openModalBtn">Modal Aç</button>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Modal içeriği buraya gelecek.</p>
    </div>
</div>