@model IEnumerable<ListListViewModel>

@foreach (var list in Model)
{
    <ul class="list" data-list-id="@list.Id">
        <li class="listItemli list-title">@list.Title</li>
        <li class="listItemli">
            <ul class="list-cards">
                @foreach (var card in list.Cards)
                {
                    <li class="card" data-card-id="@card.Id">
                        <div class="card-title">@card.Title</div>
                        <div class="card-description">@card.Description</div>
                    </li>
                }
             
            </ul>
        </li>
    </ul>
  
}
<div><button>Ekle</button></div>